In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path
module_path = str(Path.cwd().parents[0])
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np

from src.eval_simple_baselines import evaluate_simple_baselines_on_all_paper_datasets

# Evaluate the simple baselines
In this notebook we run all our simple baselines on the datasets appearing in the paper. The main purpose of the notebook is reproducibility. If you want to use your own datasets, own methods and even combine them with ours, please look in the `simple_baselines_example_usage.ipynb` notebook for inspiration.

In [7]:
def highlight_max(s, props=''):
    return np.where(s == np.nanmax(s.values), props, '')

## Evaluate on a single dataset
Full evaluation on all datasets can take some time. One can first try running on a single dataset of interest to get some fast results. Below we have an example of evaluating the methods only on SWAT. On the first part, we apply it using the optimal score normalization and on the second part we return all such scores to check the impact of different normalization options.

#### Optimal normalization

In [8]:
df_std = evaluate_simple_baselines_on_all_paper_datasets(
    root_path=module_path,
    dataset_names=['swat'],  # provide one or more dataset names e.g ['swat', 'wadi_127', 'wadi_112', 'smd', 'ucr_IB'], see dataset_reader enum.
    data_normalization="0-1",              
    eval_method='point_wise',
    score_normalization='optimal',  # Will only return the scores for the optimal score normalization method.
    verbose=True
)

[INFO]: Evaluating 1 datasets
Evaluating on SWAT.
Evaluation on SWAT finished

In [9]:
(
    df_std
    .style
    .format(precision=3)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

#### See the impact of different score normalisations

In [10]:
df_std = evaluate_baselines_on_all_paper_datasets(
    root_path=module_path,
    dataset_names=['swat'],
    data_normalization="0-1",              
    eval_method='point_wise',
    score_normalization='all',  # Will return scores for all score normalization methods for baselines which return multiple outputs. In this case only PCA_Error.
    verbose=True
)

[INFO]: Evaluating 1 datasets
Evaluating on SWAT.
Evaluation on SWAT finished

In [11]:
(
    df_std
    .style
    .format(precision=3)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

## Evaluate on all datasets - Point-Wise metrics
Here we reproduce the point-wise F1 score of all simple baselines on all datasets.

In [37]:
df_point_wise = evaluate_baselines_on_all_paper_datasets(
    root_path=module_path,
    dataset_names=None,
    data_normalization="0-1",              
    eval_method='point_wise',  # 
    score_normalization='optimal',
    verbose=True
)

[INFO]: Evaluating 7 datasets
[INFO:] SMD contains 28 data traces.
[INFO:] MSL contains 27 data traces.
[INFO:] SMAP contains 54 data traces.
[INFO:] UCR contains 4 data traces
Evaluating on SWAT.
Evaluation on SWAT finished
Evaluating on WADI_127.
Evaluation on WADI_127 finished
Evaluating on WADI_112.
Evaluation on WADI_112 finished
Evaluating on SMD.

100%|███████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [01:28<00:00,  3.15s/it]

Evaluation on SMD finished: on 28 traces,  results are averaged
Evaluating on MSL.

100%|███████████████████████████████████████████████████████████████████████████████████████████████████| 27/27 [00:07<00:00,  3.78it/s]

Evaluation on MSL finished: on 27 traces,  results are averaged
Evaluating on SMAP.

 63%|██████████████████████████████████████████████████████████████▎                                    | 34/54 [00:11<00:06,  2.87it/s]/home/marios/.pyenv/versions/3.10.9/envs/test-tad/lib/python3.10/site-packages/sklearn/decomposition/_pca.py:559: RuntimeWarning: invalid value encountered in divide
  explained_variance_ratio_ = explained_variance_ / total_var
 80%|██████████████████████████████████████████████████████████████████████████████▊                    | 43/54 [00:14<00:03,  3.47it/s]/home/marios/.pyenv/versions/3.10.9/envs/test-tad/lib/python3.10/site-packages/sklearn/decomposition/_pca.py:559: RuntimeWarning: invalid value encountered in divide
  explained_variance_ratio_ = explained_variance_ / total_var
100%|███████████████████████████████████████████████████████████████████████████████████████████████████| 54/54 [00:18<00:00,  2.95it/s]

Evaluation on SMAP finished: on 54 traces,  results are averaged
Evaluating on UCR_IB.

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.80it/s]

Evaluation on UCR_IB finished: on 4 traces,  results are averaged

In [38]:
(
    df_point_wise
    .style
    .format(precision=3)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

In [39]:
(
    df_point_wise
    .drop(['P', 'R','AUPRC'], axis=1, level=1)
    .style
    .format(precision=5)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

## Evaluate all datasets - Range-Wise metrics
Here we reproduce the range-wise scores of all simple baselines on all datasets.

In [ ]:
df_range_wise = evaluate_baselines_on_all_paper_datasets(
    root_path=module_path,
    dataset_names=None,
    data_normalization="0-1",
    eval_method='range_wise',
    score_normalization='optimal',
    verbose=True
)

In [ ]:
(
    df_range_wise
    .style
    .format(precision=3)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

In [ ]:
(
    df_range_wise
    .drop(['P', 'R','AUPRC'], axis=1, level=1)
    .style
    .format(precision=3)
    .apply(highlight_max, props='color:white;background-color:darkblue', axis=0)
)

In [13]:
df_range_wise.style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

In [14]:
df_range_wise.drop(['P', 'R','AUPRC'], axis=1, level=1).style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)