In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path
module_path = str(Path.cwd().parents[0])
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
import os
import numpy as np
import pandas as pd
import random
from src.eval_simple_baselines import evaluate_datasets

# Run & Evaluate Simple Baselines and Summarize

In [4]:
def highlight_max(s, props=''):
    return np.where(s == np.nanmax(s.values), props, '')

## Evaluate a dataset
We can evaluate one or multiple datasets under both point-wise or range-wise metrics

In [5]:
_, df_std = evaluate_datasets(module_path,
                      dataset_names_ordered=['swat'],   # provide one or more dataset names e.g swat, wadi_127, wadi_112, smd, ucr_IB, see dataset_reader enum
                      preprocessing="0-1",              
                      eval_method='point_wise',         # evaluation method one of point_wsie, range_wise or point_adjust
                      pca_dim=30,
                      show_norm_impact=False,           # if true will provide results of pca_error under different normalisations
                      verbose=True)

[INFO]: Evaluating 1 datasets
 Evaluation on SWAT finished

In [6]:
df_std.style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

### See the impact of different score normalisations

In [7]:
_, df_std = evaluate_datasets(module_path,
                      dataset_names_ordered=['swat'],   # provide one or more dataset names e.g swat, wadi_127, wadi_112, smd, ucr_IB, see dataset_reader enum
                      preprocessing="0-1",              
                      eval_method='point_wise',         # evaluation method one of point_wsie, range_wise or point_adjust
                      pca_dim=30,
                      show_norm_impact=True,           # if true will provide results of pca_error under different normalisations
                      verbose=True)

[INFO]: Evaluating 1 datasets
 Evaluation on SWAT finished

In [8]:
df_std.style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

# Evaluate All Datasets

## Evaluate all datasets under Point-Wise metrics

In [9]:
_, df_point_wise = evaluate_datasets(module_path,
                      dataset_names_ordered=None,
                      preprocessing="0-1",
                      eval_method='point_wise',
                      pca_dim=30,
                      show_norm_impact=False,
                      verbose=True)

[INFO]: Evaluating 7 datasets
 Evaluation on SWAT finished
 Evaluation on WADI_127 finished
 Evaluation on WADI_112 finished
[INFO:] SMD contains 28 data traces.
 Evaluation on SMD finished: on 28 traces,  results are averaged
[INFO:] MSL contains 27 data traces.
 Evaluation on MSL finished: on 27 traces,  results are averaged
[INFO:] SMAP contains 54 data traces.
 Evaluation on SMAP finished: on 54 traces,  results are averaged
[INFO:] UCR contains 4 data traces
 Evaluation on UCR_IB finished: on 4 traces,  results are averaged

In [10]:
df_point_wise.style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

In [11]:
df_point_wise.drop(['P', 'R','AUPRC'], axis=1, level=1).style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

## Evaluate all datasets under Range-Wise metrics

In [ ]:
_, df_range_wise = evaluate_datasets(module_path,
                      dataset_names_ordered=None,
                      preprocessing="0-1",
                      eval_method='range_wise',
                      pca_dim=30,
                      show_norm_impact=False,
                      verbose=True)

[INFO]: Evaluating 7 datasets
 Evaluation on SWAT finished
 Evaluation on WADI_127 finished
 Evaluation on WADI_112 finished
[INFO:] SMD contains 28 data traces.

In [ ]:
df_range_wise.style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)

In [ ]:
df_range_wise.drop(['P', 'R','AUPRC'], axis=1, level=1).style.set_precision(3).apply(highlight_max, props='color:white;background-color:darkblue', axis=0)